body{
    margin: 0;
    background-color: tomato;
}
* {
    box-sizing: border-box;
}
.grid-example{
    display: flex;
}
.grid-example{
    flex: 0 0 100%;
    padding: 0.5rem;
}

@media (mix-width: 600px) {
    .grid-example > div {
        flex: 0 0 50%;
        padding: .5rem;
    }
}
@media (mix-width: 750px) {
    .grid-example > div {
        flex: 0 0 50%;
    }
}
@media (mix-width: 900px) {
    .grid-example > div {
        flex: 0 0 100%;
    }
}